.container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
}

.box-area-login {
  height: 80%;
  width: 80%;
  background-color: #FFF;
  box-shadow: 0px 0px 35px 20px rgba(0, 0, 0, 0.12);
}

.box-area-logo {
  position: fixed;
  margin-right: 60%;
  height: 100%;
  width: 40%;
  background-color: #1aeab6;
  opacity: 0.5;
}

.footer {
  display: flex;
  height: 100%;
  justify-content: end;
  align-items: flex-end;
  margin-right: 5px;
  font-size: 10pt;

}

.card-logo {
  position: absolute;
  margin-right: 50%;
  text-align: center;
}

.card-login {
  position: absolute;

  height: 80%;
  width: 50%;
  margin-left: 30%;

  display: flex;
  justify-content: center;
  /* text-align: center; */
  overflow: hidden;


}

.logo {
  height: 100px;
}

h1 {
  color: #066a75;
  padding: 10px 0;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

h1:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background: -webkit-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
  background: linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
}

label {
  color: #405c60;
  position: relative;
}

/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder {
  color: #bebcbc;
  font-style: italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #bebcbc;
  font-style: italic;
}

input {
  outline: none;
}

input:not([type="checkbox"]) {
  width: 95%;
  margin-top: 4px;
  padding: 10px;
  border: 1px solid #b2b2b2;

  -webkit-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;

  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/*estilo do botão submit */
input[type="submit"] {
  width: 100% !important;
  cursor: pointer;
  background: #3d9db3;
  padding: 8px 5px;
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
  margin-bottom: 10px;

  -webkit-border-radius: 5px;
  border-radius: 5px;

  transition: all 0.2s linear;
}

input[type="submit"]:hover {
  background: #4ab3c6;
}

.link a {
  font-weight: bold;
  background: #f7f8f1;
  margin-left: 10px;
  color: rgb(29, 162, 193);

  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.link a:hover {
  color: #39bfd7;
  background: #f7f7f7;
}

/* estilos para para ambos os formulários */
#cadastro,
#login {
  position: absolute;
  width: 70%;
  height: 100%;
  padding: 70px 0% 0px 0%;

}

@media (max-height: 624px) {
  .card-login {
    position: absolute;
    height: 50%;
    overflow: hidden;
  }
  .box-area-login{
    height: 50%;
  }
  .login-title{
    font-size: 16pt;
    margin: 0;
    padding-bottom: 0;
  }
  h1{
    margin-top: 0;
  }
  #login {
    padding: 0;
  }
  p {
    margin: 0;
  }
}

@media (max-height: 556px){
  .footer {
    display: none;
  }
}
@media (max-height: 223px){
  .link {
    display: none;
  }
}

@media (max-width: 714px){
  .box-area-logo {
    display: none;
    transition: 0.8s;
  }
  .logo{
    display: none;
  }
  .card-logo{
    display: none;
  }
  .footer {
    display: none;
  }
  .card-login{
    width: 70%;
    margin: 0;
    padding: 0;
  }
  .box-area-login{
    /* width: 60%; */
    /* position: fixed; */
  }
  #login{
    display: flex;
    width: 50%;
    padding: 0;
    position: absolute;
  }
}
@media (max-width: 720px){
  .box-area-login{
    width: 30%;
  }
  .card-login{
    width: 40%;
    margin-right: 15px;
  }
  .login-title{
    font-size: 12pt;
    margin-left: 10px;
  }
  input[type="submit"]{
    margin-left: 10px;
  }
  a{
    font-size: 15px;
  }
}